<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Lista Knjiga</title>
  <link rel="stylesheet" th:href="@{/css/ListPages.css}">
</head>
<body>
<div sec:authorize="hasRole('ADMIN')" class="navbar">
  <span class="logo">Sistem upravljanja bibliotekama</span>
  <a th:href="@{/authors}">Autori</a>
  <a th:href="@{/categories}">Kategorije</a>
  <a th:href="@{/books}">Knjige</a>
  <a th:href="@{/loans}">Zaduženja</a>
  <a th:href="@{/logout}" class="logout-btn">Odjava</a>
</div>
<div class="container">
  <h1>Lista Knjiga</h1>
  <form th:action="@{/books}" method="get" class="search-bar">
    <input type="text" name="title" th:value="${searchQuery}" placeholder="Pretraži knjige..." />
    <button type="submit">Pretraži</button>
  </form>
  <a class="add-button" th:href="@{/books/new}">Dodaj Novu Knjigu</a>
  <table>
    <thead>
    <tr>
      <th>Naslov</th>
      <th>ISBN</th>
      <th>Autor</th>
      <th>Kategorija</th>
      <th>Dostupni Primjerci</th>
      <th>Akcije</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${books.isEmpty()}" class="centered">
      <td colspan="6">Nema tražene knjige</td>
    </tr>
    <tr th:each="book : ${books}">
      <td th:text="${book.title}">Naslov</td>
      <td th:text="${book.isbn}">ISBN</td>
      <td th:text="${book.author.firstName} + ' ' + ${book.author.lastName}">Autor</td>
      <td th:text="${book.category.name}">Kategorija</td>
      <td class="centered" th:text="${book.availableCopies}">Primjerci</td>
      <td class="action-buttons">
        <a class="edit-button" th:href="@{'/books/' + ${book.id} + '/edit'}">Uredi</a>
        <form th:action="@{'/books/' + ${book.id} + '/delete'}" method="get"
              onsubmit="return confirm('Da li ste sigurni da želite obrisati ovu knjigu?');" class="inline-form">
          <button type="submit" class="delete-button">Obriši</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div id="messageModal" class="modal" th:if="${errorMessage != null} or ${successMessage != null}">
  <div class="modal-content">
    <span class="close-button" onclick="closeModal()">&times;</span>
    <p th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></p>
    <p th:if="${successMessage}" class="success-message" th:text="${successMessage}"></p>
  </div>
</div>
<script>
  function closeModal() {
    document.getElementById('messageModal').style.display = 'none';
  }

  window.onload = function() {
    var modal = document.getElementById('messageModal');
    if (modal) {
      modal.style.display = 'block';
    }
  }
</script>
</body>
</html>
