<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Lista Korisnika</title>
  <link rel="stylesheet" th:href="@{/css/ListPages.css}">
</head>
<body>
<div sec:authorize="hasRole('ADMIN')" class="navbar">
  <span class="logo">Sistem upravljanja bibliotekama</span>
  <a th:href="@{/authors}">Autori</a>
  <a th:href="@{/categories}">Kategorije</a>
  <a th:href="@{/books}">Knjige</a>
  <a th:href="@{/loans}">Zaduženja</a>
  <a th:href="@{/logout}" class="logout-btn">Odjava</a>
</div>
<div class="container">
<h1>Lista Korisnika</h1>
<table>
  <thead>
  <tr>
    <th>Korisničko Ime</th>
    <th>Email</th>
    <th>Ime</th>
    <th>Prezime</th>
    <th>Uloga</th>
    <th>Akcije</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.username}">Korisničko Ime</td>
    <td th:text="${user.email}">Email</td>
    <td th:text="${user.firstName}">Ime</td>
    <td th:text="${user.lastName}">Prezime</td>
    <td th:text="${user.role}">Uloga</td>
    <td>
      <a th:href="@{'/users/' + ${user.id} + '/edit'}">Uredi</a>
      <a th:href="@{'/users/' + ${user.id} + '/delete'}"
         onclick="return confirm('Da li ste sigurni da želite obrisati ovog korisnika?');">Obriši</a>
    </td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>