<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Lista Zaduženja</title>
  <link rel="stylesheet" th:href="@{/css/ListPages.css}">
</head>
<body>
<div sec:authorize="hasRole('ADMIN')" class="navbar">
  <span class="logo">Sistem upravljanja bibliotekama</span>
  <a th:href="@{/authors}">Autori</a>
  <a th:href="@{/categories}">Kategorije</a>
  <a th:href="@{/books}">Knjige</a>
  <a th:href="@{/loans}">Zaduženja</a>
  <a th:href="@{/logout}" class="logout-btn">Odjava</a>
</div>
<div sec:authorize="hasRole('USER')" class="navbar">
  <span class="logo">Sistem upravljanja bibliotekama</span>
  <a th:href="@{/loans}">Moja Zaduženja</a>
  <a th:href="@{/logout}" class="logout-btn">Odjava</a>
</div>
<div class="container">
  <h1>Lista Zaduženja</h1>
  <a class="add-button" th:href="@{/loans/new}">Dodaj Novo Zaduženje</a>
  <table>
    <thead>
    <tr>
      <th>Knjiga</th>
      <th>Korisnik</th>
      <th>Datum Zaduženja</th>
      <th>Datum Povratka</th>
      <th>Akcije</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${loans.isEmpty()}" class="centered">
      <td colspan="5">Nema dostupnih zaduženja</td>
    </tr>
    <tr th:each="loan : ${loans}">
      <td th:text="${loan.book.title}">Knjiga</td>
      <td th:text="${loan.user.username}">Korisnik</td>
      <td th:text="${#dates.format(loan.loanDate, 'yyyy-MM-dd')}">Datum Zaduženja</td>
      <td th:text="${loan.returnDate != null ? #dates.format(loan.returnDate, 'yyyy-MM-dd') : 'N/A'}">Datum Povratka</td>
      <td class="action-buttons">
        <form th:action="@{'/loans/' + ${loan.id} + '/delete'}" method="get"
              onsubmit="return confirm('Da li ste sigurni da želite obrisati ovo zaduženje?');">
          <button type="submit" class="delete-button">Obriši</button>
        </form>
        <a class="edit-button" sec:authorize="hasRole('ADMIN')" th:href="@{'/loans/' + ${loan.id} + '/edit'}">Uredi</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
